.pagination {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 24px;
}

.pagination-pages {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination-button {
  padding: 8px 12px;
  border: 1px solid #161618;
  border-radius: 8px;
  background-color: #727074;
  cursor: pointer;
}

.pagination-button:hover:not(:disabled) {
  background-color: #40637a;
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.pagination-button-active {
  font-weight: 700;
  border-color: #333333;
}
