.result-card {
  position: relative;
  padding: 20px 24px;
  border: 1px solid #c9c9c9;
  border-radius: 12px;
  background-color: #242424;
}

.result-card__checkbox-label {
  position: absolute;
  top: 20px;
  left: 20px;

  display: flex;
  gap: 8px;
  align-items: center;

  color: #aeb6c2;
  cursor: pointer;
}

.result-card__checkbox {
  cursor: pointer;
}

.result-card__content-link {
  display: block;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.result-card__content-link:hover .result-card__title {
  text-decoration: underline;
}

.result-card__title {
  margin: 0 0 12px;
  font-size: 1.4rem;
}

.result-card__description {
  margin: 0;
}